@{
}

@model BooksViewModel


@*This loop takes the info from the models and prints them on the page for each book in the database*@

@foreach (Book b in Model.Books)
{
    <partial name="BookSummary" model="b" />
}

@*This accesses the pageinfo model, which makes links on the page dynamically*@
<div page-blah="@Model.PageInfo" page-action="Index" page-class="btn"
     page-class-normal="btn-outline-dark" page-class-selected="btn-primary" page-classes-enabled="true"
     class="btn-group pull-right m-1"></div>